@charset "UTF-8";

:root {
    --cor0: #DDE6ED;
    --cor1: #9DB2BF;
    --cor2: #27374D;
    --cor3: #526D82;

    --cor5: #000000;
}
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    body {
      background-image: url(assets/img/fundo.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    
    .cabecalho {
      display: flex;
      justify-content: space-between;
      margin: 1%;
      height: 55px;
      filter: drop-shadow(8px 8px 12px var(--cor3))
    }

    .container {
      position: -ms-page;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }
    
    .texto {
      position: absolute;
      width: 38%;
      height: 50%;
      left: 9%;
      top: 13%;
      border: none;
      border-radius: 3%;
      font-family: var();
      font-weight: 400;
      font-size: 40px;
      line-height: 150%;
      background-color: var(--cor5);
      color: var(--cor0);
      opacity: 0.5;
    }
    
    .texto::placeholder {
      color: var(--cor3);
    }

    .texto:focus,
    .texto:active {
      border: none;
      outline: none;
    }
    
    .regra {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
      position: absolute;
      width: 80%;
      left: 12%;
      top: 65%;
    }
    
    .regra p {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      color: var(--cor1);
      flex: none;
      order: 1;
      flex-grow: 0;
    }
    
    .botoes {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0% 0;
      position: absolute;
      width: 70%;
      left: 13%;
      top: 73%;
    }
  
    .btn-copiar {
      align-items: center;
      justify-content: center;
      padding: 3%;
      gap: 8px;
      width: 30%;
      background-color: var(--cor5);
      opacity: 0.5;
      border-radius: 16px;
      border: 1px solid var(--cor2);
      font-family: var();
      font-size: 18px;
      line-height: 17px;
      text-align: center;
      color: var(--cor0);
      cursor: pointer;
  }
    
    .btn-criptografar {
      align-items: center;
      justify-content: center;
      padding: 2%;
      margin: 0.4%;
      gap: 8px;
      width: 20%;
      background-color: var(--cor5);
      opacity: 0.5;
      border: 1px solid var(--cor2);
      border-radius: 24px;
      font-family: var();
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: var(--cor0);
      cursor: pointer;
      transition: 0.1s;
    }
    
    .btn-descriptografar {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin: 0.4%;
      padding: 2%;
      gap: 8px;
      width: 20%;
      background: var(--cor1);
      opacity: 0.5;
      border: 1px solid var(--cor3);
      border-radius: 24px;
      font-family: var();
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      text-align: center;
      color: var(--cor2);
      cursor: pointer;
      transition: 0.1s;
    }
  
    .btn-copiar:hover {
      background: var(--cor1);
      color: var(--cor3);
      width: 35%;
      transition: 0.1s;
    }
    
    .btn-descriptografar:hover,
    .btn-criptografar:hover {
      margin: 0.3%;
      width: 23%;
      padding: 1.8%;
    }
    
    .criptografado {
      display: flex;
      position: absolute;
      justify-content: center;
      width: 30%;
      height: 80%;
      left: 60%;
      top: 5%;
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
      overflow: hidden;
    }
    
    .mensagem-criptografado {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1%;
      gap: 16px;
      position: absolute;
      width: 100%;
      top: 65%;
      text-align: center;
    }
    
    .mensagem-criptografado h2 {
      width: 80%;
      margin: 5%;
      font-family: var();
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: var(--cor2);
      border-radius: 16px;
    }
    
    .mensagem-criptografado p {
      width: 80%;
      font-family: var();
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: var(--cor2);
    }
  
    .lupa {
      opacity: 0.7;
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
    }
  
    .rodape {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1%;
      filter: drop-shadow(10px 7px 10px var(--cor0));
  }
  
  .rodape h3 {
      font-family: var();
      font-size: 20px;
  }
  
  .icons ion-icon {
    width: 25px;
    height: 25px;
    color: var(--cor2);
    margin: 16px;
  }
  
  .icons ion-icon:hover {
    width: 25px;
    height: 25px;
    color: var(--cor0);
  }
  
    @media (max-width: 57.5em) {
      .container {
        display: flex;
        flex-direction: row;
      }
      .criptografado {
        width: 100%;
      }
      .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
      }
      .regra {
        width: 80%;
        left: 10%;
        top: 67%;
      }
      .regra p {
        font-size: 16px;
      }
      .botoes {
        width: 80%;
        left: 10%;
        top: 70%;
      }
      .btn-criptografar,
      .btn-descriptografar, 
      .btn-copiar {
        width: 48%;
        border-radius: 16px;
      }
      .btn-criptografar:hover,
      .btn-descriptografar:hover,
      .btn-copiar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
      }
      .criptografado {
        width: 80%;
        height: 37%;
        left: 10%;
        top: 80%;
      }
      .mensagem-criptografado {
        width: 100%;
        top: 5%;
      }
      .criptografado .lupa {
        top: 0;
        display: none;
      }
  
      .rodape {
        margin: 4%;
        padding: 30% 10% 10% 10%;
      }
      .rodape h3 {
        font-size: 16px;
      }
  
    }